@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 1495px;
    }

    .active{
        position: relative;
    }
    .active::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: #FAB23D;
    }
    .centered{
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}